---
layout: default
single: true
---

<article class="post">{% include article.html %}</article>
{% unless page.sharing == false %}
	{% include post/sharing.html %}
{% endunless %}

<script type="text/javascript">
  tmp = '<div><a href="#">CONTENTS</a></div>';
  $('.post-index').append(tmp);
  $.each($('h3, h4'), function(index, item){
      item.id = 'menuindex'+index;
      tmpText = $(item).text();
      if(item.tagName.toLowerCase() == 'h3'){
        tmpClass = 'menuindexh3';  
        }else{
        tmpClass = 'menuindexh4';
        }
        tmp = '<div class="' + tmpClass +'"><a href="#' + item.id +
        '">' + tmpText + '</a></div>';  
      $('.post-index').append(tmp);
  });
</script>

{% if site.duoshuo_short_name and site.duoshuo_comments == true and page.comments == true %}
<section id="comment">
    <h2 class="title">Comments</h2>
    <div id="comments" aria-live="polite">{% include post/duoshuo.html %}</div>
</section>
{% endif %}
